<div id="loader" class="fixed inset-0 z-50 flex items-center justify-center bg-white dark:bg-gray-900 transition-opacity duration-300">
    <div class="relative">
        <!-- Main spinner -->
        <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-green-900 dark:border-green-500"></div>
        
        <!-- Inner spinner -->
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-green-600 dark:border-green-400"></div>
        </div>
        
        <!-- Loading text -->
        <p class="absolute -bottom-8 left-1/2 transform -translate-x-1/2 text-green-900 dark:text-green-500 font-semibold">
            Loading...
        </p>
    </div>
</div>
